---
BasedOnStyle: Chromium
PointerAlignment: Left
AccessModifierOffset: "-4"
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: "true"
AlignConsecutiveDeclarations: "true"
AlignOperands: "true"
AlignTrailingComments: "true"
AllowAllConstructorInitializersOnNextLine: "false"
IndentWidth: 4
AllowShortLoopsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
